.contact {
    display: flex;
    flex-direction: column;

    &__form {
        max-width: toRem(550);
        width: 100%;
        margin: 0 auto;
        flex: 1;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: toRem(10);
        }
    }
    &__submit {
        margin-top: toRem(25);
    }
}