.contact {
  display: flex;
  flex-direction: column;

  &__form {
    max-width: toRem(550);
    width: 100%;
    margin: 0 auto;
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(10);
    }
  }

  &__submit {
    margin-top: toRem(25);
    color: $color-text-primary;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: toRem(16);

    svg {
      font-size: toRem(18);
      animation: rotation 1s infinite linear;
    }
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}