.resume {
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: toRem(25);

    .title {
      margin-bottom: toRem(15);
    }

    .wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      & > div {
        flex: 1;
      }

      @include respond-to('small') {
        flex-direction: row;
      }
    }
  }
}
