.skills {
  padding-bottom: toRem(20);
  max-height: toRem(280);
  height: 100%;

  &__title {
    margin-bottom: toRem(25);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, toRem(50));
    justify-content: space-between;
    row-gap: toRem(45);

    @include respond-to('small') {
      padding-right: toRem(55);
    }

    &-item {
      img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
    }
  }
}
