@import './reset.scss';
@import './utils.scss';
@import './variables.scss';
@import './components/Sidebar.scss';

html {
  font-size: calc(15px + 0.390625vw);
}
body {
  background-color: $color-bg-primary;
  color: $color-text-primary;
}

.main {
  padding: toRem(15);

  @include respond-to('small') {
    margin-left: toRem(110);
  }
}
