// Breakpoints
$breakpoint-device: 480px;
$breakpoint-ipads: 768px;
$breakpoint-small-screens: 1024px;
$breakpoint-large-screens: 1200px;
$breakpoint-extra-screens: 1201px;

// Colors
$color-bg-primary: #222;
$color-bg-secondary: #fff;
$color-bg-tertiary: #333;

$color-text-primary: #000;
$color-text-primary: #fff;
$color-blue: #00BFFF;
$color-error: #c80000;
$color-light-gray: #9b9b9b;

$breakpoints: (
  'small': (min-width: $breakpoint-ipads),
  'medium': (min-width: $breakpoint-small-screens),
  'large': (min-width: $breakpoint-large-screens),
  'extra-large': (max-width: $breakpoint-extra-screens),
) !default;


$max-width: 1250;


$border-primary: 2px solid rgba(28, 28, 28, 0.4);